/*  your css code here. If applicable */
.hero{
	display: flex;
}

.content{
	margin-left: 30px;
	text-align: center;
}
img{
	object-fit: cover;
}

button{
	background-color: red;
	border: none;
	color: white;
}